@import "variables";

.footer {
    background-color: transparent !important;
    text-align: center;
    padding: 1rem;
    color: $text-footer;
    position: absolute;
    bottom: 0;
    width: 100%;
}