@import "variables";

.header {
    .header-logo {
        max-height: 3.05rem !important;
    }

    background-color: transparent;
    padding-top: 1.5rem;

    .navbar-item {
        font-family: $font-primary;
        font-weight: $weight-regular;
        font-size: 22px;
        color: $text-primary;
        letter-spacing: 1px;

        &:hover {
            background-color: transparent !important;
            color: lightskyblue !important;
        }
    }
}