@import "variables";
@import "~react-bulma-components/src/index.sass";

.App {
    background: $background-primary;
    color: $text-primary;
    min-height: 100vh;
}

.title,
.subtitle {
    color: $text-primary;
}

#landing-page-heading-accented {
    color: $accent-primary;
}

#landing-page-heading {
    font-size: 6rem;
    font-family: $font-primary;
}