@import "variables";
@import "~react-bulma-components/src/index.sass";
@import "footer";
@import "header";

.app {
    background: $background-primary;
    color: $text-primary;
    min-height: 100vh;
    position: relative;
}

.title,
.subtitle {
    color: $text-primary;
}


.landing-page {
    .title {
        font-size: 6rem;
        font-family: $font-primary;
    }

    .subtitle {
        padding-top: 20px;
    }

    #landing-page-heading-accented {
        color: $accent-primary;
    }

    .coming-soon-btn {
        margin-top: 70px;
        padding: 1.5rem 3.5rem;
    }
}