@import "variables";
@import "~react-bulma-components/src/index.sass";
@import "footer";
@import "header";

.app {
    background: $background-primary;
    color: $text-primary;
    min-height: 100vh;
    position: relative;
}

.title,
.subtitle {
    color: $text-primary;
}


.landing-page {
    .title {
        font-size: 6rem;
        font-family: $font-primary;

        @media screen and (min-width: 769px) and (max-width: 1279px) {
            font-size: 4rem;
        }
    }

    .subtitle {
        padding-top: 20px;
    }

    #landing-page-heading-accented {
        color: $accent-primary;
    }

    .get-started-btn {
        margin-top: 70px;
        height: auto;
        padding: .75rem 3.5rem;
        transition: .2s ease;

        &:hover {
            background-color: $accent-primary;
            color: white;
            border-color: $accent-primary;
            box-shadow: 1px 10px 15px 0px rgba(0, 0, 0, 0.25);
            transform: translateY(-2px);
        }
    }
}